<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <title>Project Awesome's Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<%= stylesheet_link_tag 'bootstrap.css' 	%>
		<%= stylesheet_link_tag 'main.css'				%>
		<%= stylesheet_link_tag 'font-style.css' 	%>
		<%= stylesheet_link_tag 'flexslider.css' 	%>

		<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js' %>
		<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js' %>
		<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.7/jquery.noty.min.js' %>

		<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js' %>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

	</head>
  <body>
		<!-- NAVIGATION MENU -->
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"> Project Awesome's Todo</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li> -->
            <li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
            <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

	  	<!-- row -->
      <div class="row">

      	<!-- USER PROFILE BLOCK -->
      	<div class="col-sm-3 col-lg-3">
    			<div class="dash-unit">
	    			<dtitle>User Profile</dtitle>
      			<hr>
						<div class="thumbnail">
							<%= image_tag 'face80x80.jpg' %>
						</div><!-- /thumbnail -->
						<h1>Jonathan Schwadron</h1>
						<h3>New York, NY</h3>
						<br>
						<div class="info-user">
							<span aria-hidden="true" class="li_user fs1"></span>
							<span aria-hidden="true" class="li_settings fs1"></span>
							<span aria-hidden="true" class="li_mail fs1"></span>
							<span aria-hidden="true" class="li_key fs1"></span>
						</div>
					</div>
      	</div>

				<!-- INSERT TODO APP HERE -->
				<div class="col-sm-3 col-lg-3">
					<div class=dash-unit>
						<dtitle>TODO</dtitle>
						<hr>
						<p>
							JONATHAN LI - INTEGRATE TODO APP HERE
						</p>
						
					</div>
				</div>

      	<div class="col-sm-3 col-lg-3">
					<!-- TO DO LIST -->
      		<div class="half-unit">
	      		<dtitle>To Do List</dtitle>
	      		<hr>
	      		<div class="cont">
							<p><bold>13</bold> | Pending Tasks</p>
						</div>
		    		<div class="progress">
	      			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
								<!-- <span class="sr-only">60% Complete</span> -->
							</div>
						</div>
    			</div>
  			</div>
			</div>
		</div>
		<!-- end of row -->
		<!-- end of container -->

		<!-- footerwrap -->
		<div id="footerwrap">
      <footer class="clearfix"></footer>
      <div class="container">
      	<div class="row">
      		<div class="col-sm-12 col-lg-12">
      			<p><%= image_tag 'logo.png' %></p>
      			<p>Project Awesome's Todo App - DJJJ CORP - Copyright 2015</p>
      		</div>
      	</div>
      </div>
		</div>
		<!-- end of footerwrap -->

	</body>
</html>
